<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=34638&format=png&color=000000">
  <title>Consulta de Productos</title>
  <link rel="stylesheet" href="../public/style.css">
</head>
<body>
  <h1>Consulta de habitaciones</h1>

  <!-- Formulario para consultar un producto por ID -->
  <form id="productQueryForm">
    <input type="number" id="productId" placeholder="ID del Producto" required>
    <button type="submit">Buscar habitación</button>
  </form>

  <h2>Información de la habitación</h2>
  <div id="productInfo"></div>

  <div id="message"></div>
  <a href="adminMenu.html" class="back-button">Volver al menu</a>
  </div>

  <h2>Todas las habitaciones</h2>
  <ul id="productList"></ul>

  <script src="../public/scriptsPR.js"></script>
</body>
</html>
