<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=34638&format=png&color=000000">
  <title>Gestión de habitaciones</title>
  <link rel="stylesheet" href="../public/style.css">
</head>
<body>
  <h1>Gestión de habitaciones</h1>

  <!-- Formulario para eliminar un producto por ID -->
  <h2>Eliminar habitación</h2>
  <form id="deleteProductForm">
    <input type="number" id="deleteProductId" placeholder="ID del Producto" required>
    <button type="submit">Eliminar habitación</button>
  </form>

  <div id="message"></div>
  <a href="adminMenu.html" class="back-button">Volver al menu</a>
  </div>

  <h2>Lista de habitaciones</h2>
  <ul id="productList"></ul>

  <script src="../public/scriptD.js"></script>
</body>
</html>
