<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estación paraíso</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=34638&format=png&color=000000">
    <link rel="stylesheet" href="../public/styles2.css">
</head>
<body>

    <!-- Menú de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Estación paraíso</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="habitaciones.html">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                </li>
            </ul>
            <button id="usuarios" onclick="location.href='access.html'">Login</button>
            <button id="posts" onclick="location.href='register.html'">Registro</button>
        </div>
    </nav>

    <!-- Productos -->
    <section id="productos" class="productos-section">
        <div class="productos-container">
            <h2>Nuestras habitaciones</h2>
            <p>Confort y elegancia en cada espacio, diseñadas para una experiencia única.</p>
            <!-- Sección de Pizzas clasicas -->
            <div class="categoria">
                <div class="productos-grid">
                    <div class="producto-card">
                        <img src="/imagenes/deluxe-habitacionjpg.jpg" alt="deluxe-habitacion" class="producto-imagen">
                        <div class="producto-info">
                            <h4 class="producto-titulo">Habitación Deluxe</h4>
                            <p class="producto-descripcion">Espaciosa y con vistas al jardín, la Habitación Deluxe incluye:</p>
                            <p class="producto-descripcion">Cama King Size, Wi-Fi gratuito, mini bar y cafetera, balcón privado con vistas.</p>
                            <span class="producto-precio">$240,000 COP por noche.</span>
                        </div>
                        <a href="#mas-informacion" class="btn-producto">Reservar ahora</a>
                    </div>
                    <div class="producto-card">
                        <img src="/imagenes/Suite_Mar.avif" alt="Suite_Mar" class="producto-imagen">
                        <div class="producto-info">
                            <h4 class="producto-titulo">Suite con vista al mar</h4>
                            <p class="producto-descripcion">La suite ideal para disfrutar del mar y la tranquilidad, incluye:</p>
                            <p class="producto-descripcion">Cama King Size con almohadas y colchón premium, balcón con vista panorámica al mar, TV de pantalla plana y servicios de streaming.</p>
                            <span class="producto-precio">$205,000 COP por noche.</span>
                        </div>
                        <a href="#mas-informacion" class="btn-producto">Reservar ahora</a>
                    </div>
                    <div class="producto-card">
                        <img src="/imagenes/habitacion-economica.jpg" alt="habitacion-economica" class="producto-imagen">
                        <div class="producto-info">
                            <h4 class="producto-titulo">Habitación económica</h4>
                            <p class="producto-descripcion">Ideal para viajeros que buscan comodidad a un precio accesible. Incluye:</p>
                            <p class="producto-descripcion">Cama Queen Size, Wi-Fi gratuito, baño privado, escritorio de trabajo.</p>
                            <span class="producto-precio">$122,000 COP por noche.</span>
                        </div>
                        <a href="#mas-informacion" class="btn-producto">Reserva ahora</a>
                    </div>
                    <div class="producto-card">
                        <img src="/imagenes/suite-hotel.jpg" alt="suite-hotel" class="producto-imagen">
                        <div class="producto-info">
                            <h4 class="producto-titulo">Suite de Lujo</h4>
                            <p class="producto-descripcion">Una suite exclusiva con el máximo nivel de lujo y confort, incluye:</p>
                            <p class="producto-descripcion">Terraza con vistas panorámicas, Terraza con vistas panorámicas, Sala de estar y comedor</p>
                            <span class="producto-precio">$141,000 COP por noche.</span>
                        </div>
                        <a href="#mas-informacion" class="btn-producto">Reservar ahora</a>
                    </div>
                    <div class="producto-card">
                        <img src="/imagenes/habitacion-doble.jpg" alt="habitacion-doble" class="producto-imagen">
                        <div class="producto-info">
                            <h4 class="producto-titulo">Habitación doble</h4>
                            <p class="producto-descripcion">Perfecta para amigos o colegas, equipada con:</p>
                            <p class="producto-descripcion">Dos camas individuales, Wi-Fi gratuito, baño compartido, televisión por cable. </p>
                            <span class="producto-precio">$183,000 COP por noche</span>
                        </div>
                        <a href="#mas-informacion" class="btn-producto">Reserva ahora</a>
                    </div>
                    <div class="producto-card">
                        <img src="/imagenes/suite.familiar.jfif" alt="suite-familiar" class="producto-imagen">
                        <div class="producto-info">
                            <h4 class="producto-titulo">Suite Familiar</h4>
                            <p class="producto-descripcion">Espaciosa y acogedora, ideal para familias, incluye:</p>
                            <p class="producto-descripcion">Cama King Size y dos camas individuales, Wi-Fi gratuito y escritorio, televisión con canales para toda la familia</p>
                            <span class="producto-precio">$300,000 COP por noche</span>
                        </div>
                        <a href="#mas-informacion" class="btn-producto">Reserva ahora</a>
                    </div>

                    <div class="producto-card">
                        <img src="/imagenes/habitacion-premium.jpg" alt="habitacion-premium" class="producto-imagen">
                        <div class="producto-info">
                            <h4 class="producto-titulo">Habitación premium</h4>
                            <p class="producto-descripcion">Un toque de sofisticación para viajeros exigentes, cuenta con:</p>
                            <p class="producto-descripcion">Cama Queen Size con ropa de cama de alta calidad, balcón con vista a la ciudad, servicio de desayuno en la habitación, TV de pantalla plana </p>
                            <span class="producto-precio">$250,000 COP por noche</span>
                        </div>
                        <a href="#mas-informacion" class="btn-producto">Reserva ahora</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Contenido de la página de inicio -->
    
    <section id="reservas" class="reservas-section">
        <div class="reservas-container">
            <h2>Reserva tu habitación en estación paraíso</h2>
            <p>Descubre el descanso y confort que mereces en el corazón de la naturaleza. Estación paraíso es el lugar perfecto para escapar de la rutina.</p>
            <a href="registro_reserva.html" class="btn-reserva">Reservar ahora</a>
            
            <div class="social-media">
                <h3>Síguenos en nuestras redes sociales</h3>
                <div class="social-icons">
                    <div class="social-item">
                        <a href="https://facebook.com" target="_blank" rel="noopener" class="social-icon" title="Síguenos en Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <span>Facebook</span>
                    </div>
                    <div class="social-item">
                        <a href="https://instagram.com" target="_blank" rel="noopener" class="social-icon" title="Síguenos en Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <span>Instagram</span>
                    </div>
                    <div class="social-item">
                        <a href="https://twitter.com" target="_blank" rel="noopener" class="social-icon" title="Síguenos en Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <span>Twitter</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <!-- Asegúrate de incluir Font Awesome para los íconos de redes sociales -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Bootstrap y JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
