<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=34638&format=png&color=000000">
  <title>Menú de Usuario</title>
  <link rel="stylesheet" href="../public/styles.css">
</head>
<body>

  <div class="form-container">
    <h1>Bienvenido Usuario</h1>
    <p>Accede a tus opciones aquí.</p>
    <button id="logoutButton">Cerrar Sesión</button>
    <button onclick="location.href='consulta_reservas.html'">Consultar reservas</button>
  </div>

  <script src="../public/scriptsA.js"></script>
</body>
</html>
